$base-violet: linear-gradient(45deg, #6a42b4, #9a5cff, #c8a6ffc0);
$base-violet-font-10: #6b58ae;
$base-violet-font-20: #9f84fd;
$base-violet-font-30: #8c55eb;
$base-violet-font-40: #cabbfa;
$base-violet-font-50: #efeaff;
$base-blue:lightblue;
$base-blue-10: #62b5d0;
$base-aqua: #08E3E3;
$base-aqua-grade: linear-gradient(to right, #E9F8FF, #90B2D8, #C1E3FF);
$base-white-10: #f3ebeb;
$font-size:20px;
$base-font-size:16px;
$base-sub-font-size:19px;
$base-title-font-size: 22px;
$base-content-header-size: 18px;